.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.tab-content>.active {
    opacity: 1 !important;
}

.imagelistmargn{
  margin-top: 20px;
}

.imagelistmarign{
  padding-left: 15px;
  padding-right: 15px;
}

.lds-circle {
  /* display: inline-block; */
  width: 85px;
  height: 90px;
  margin: 0 auto;
  border-radius: 50%;
  background: #007bff;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
.card-title{
  margin-bottom:0px !important;
}
.btnwidth{
  width: 100%;
}
@media (min-width: 576px)
{
  button.col-sm-2.btn.btn-danger{
      -ms-flex: 0 0 20% !important;
      flex: 0 0 20% !important;
      max-width: 20% !important;
  }
}